---
---

<footer class="bg-gray-900 py-10 md:py-12 px-4 relative">
  <div class="absolute inset-0 bg-[url('/noise.svg')] opacity-5"></div>
  <div class="max-w-6xl mx-auto relative z-10">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="mb-6 md:mb-0">
        <p class="text-balance text-sm md:text-base">&copy; 2025 Fabián Cruz. Todos los derechos reservados.</p>
      </div>
      <div class="flex items-center space-x-4 md:space-x-6">
        <div class="flex items-center">
          <p class="text-balance text-sm md:text-base mr-2">Hecho por</p>
          <!-- Logo de X (Twitter) -->
          <svg viewBox="0 0 24 24" aria-hidden="true" class="h-5 w-5 fill-current text-white">
            <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path>
          </svg>
          <a href="https://twitter.com/fabianhuervo" target="_blank" rel="noopener noreferrer" class="text-balance hover:text-yang transition-colors text-sm md:text-base ml-1">@fabianhuervo</a>
        </div>
        <a href="/manual" class="text-balance hover:text-yang transition-colors text-sm md:text-base">Documentación</a>
        <a href="#" class="text-balance hover:text-yang transition-colors text-sm md:text-base">Soporte Técnico</a>
      </div>
    </div>
  </div>
</footer>
